/* Style the banner */
.banner_page_blog {
    padding: 10px 60px;
    text-align: center;
    font-size: 16px;
    color: white;
    display: flex;
    width: 100%;
}

.subcribe {
    display: flex;
    align-items: center;
}

.title_page {
    width: 100%;
}


/* card*/
.card_body_page {
    display: flex;
    width: 100%;
}

.card {
    margin: 10px 10px 10px 0px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.description_img {
    margin: 0;
}

.detail_img {
    padding-left: 20px;
    margin-top: 10px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-top: 0;
}

.card-content p {
    margin-bottom: 15px;
}

.card-content a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.card-content a:hover {
    background-color: #0056b3;
}

/*new post*/
.new_post {
    width: 30%;
    height: fit-content;
    background-color: #f0eeee;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
}

.title_newPost {
    text-align: center;
}

ul {
    padding-left: 0;
    text-align: center;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none
}

.new_post ul {
    list-style-type: none;
    padding: 0;
}

.new_post li {
    height: 30px;
    margin-bottom: 5px;
}

.new_post a {
    color: #007bff;
    text-decoration: none;
}

.new_post a:hover {
    color: #007bff;
    text-decoration: underline;
}